<h1>Editing donation</h1>

<% form_for(@donation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :cents %><br />
    <%= f.text_field :cents %>
  </p>
  <p>
    <%= f.label :donor_id %><br />
    <%= f.text_field :donor_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @donation %> |
<%= link_to 'Back', donations_path %>